

#main-content-container {
  height: 100%;
  width: 100%;
}

#dark-mode-button {
  margin-right: 5px;
}

.article-button {
  background-color: #FF8800;
}

.hidden {
  display: none;
}

.sidebar-icon {
  margin-right: 8px;
}

.letter1 {
  -webkit-animation: fadein 5s forwards; /* Safari 4+ */
  -moz-animation:    fadein 5s forwards; /* Fx 5+ */
  -o-animation:      fadein 5s forwards; /* Opera 12+ */
  animation:         fadein 5s forwards; /* IE 10+, Fx 29+ */
  opacity: 0;
  animation-delay: 0.5s;
}

#letter2 {
  animation-delay: 1s;
}

#letter3 {
  animation-delay: 2s;
}

#btn-fade {
	animation-delay: 3s;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}


