{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<!--{% block extra_css %}-->
<!--<style type="text/css">-->
<!--	#user-profile-pic {-->
<!--		 width: 150px;-->
<!--  		height: 150px;-->
<!--  		border-radius: 50%;-->
<!--  		margin-bottom: 10px;-->
<!--	}-->
<!--</style>-->
<!--	-->
<!--{% endblock extra_css %}-->

{% block extra_js %}
{{block.super}}

	<script type="text/javascript">
		$(document).ready(function(){
			$("#email-form").hide();
			$("#profile").hide();
			$("#settings").hide();

			var user_article_details = "{{user.profile.article_details}}";
			var user_dark_mode = "{{user.profile.dark_mode}}";

			if (user_article_details === 'True') {
				$("#set-article-details").prop('checked', true);
			}else {
				$("#set-article-details").prop('checked', false);
			}

			if (user_dark_mode === 'True') {
				$("#set-dark-mode").prop('checked', true);
			}else {
				$("#set-dark-mode").prop('checked', false);
			}

	        $(document).on("click", "#account1", function(){
	        	$("#account2").addClass("active");
	        	$("#profile2").removeClass("active");
	        	$("#settings2").removeClass("active");

	        	$("#account").show();
	        	$("#profile").hide();
	        	$("#settings").hide();
	        });

	        $(document).on("click", "#profile1", function(){
	        	$("#profile2").addClass("active");
	        	$("#settings2").removeClass("active");
	        	$("#account2").removeClass("active");

	        	$("#profile").show();
	        	$("#account").hide();
	        	$("#settings").hide();
	        });

	        $(document).on("click", "#settings1", function(){
	        	$("#settings2").addClass("active");
	        	$("#account2").removeClass("active");
	        	$("#profile2").removeClass("active");

	        	$("#settings").show();
	        	$("#account").hide();
	        	$("#profile").hide();
	        });

	        $(document).on("click", "#email-change", function(){
	        	$("#email-show").hide();
	        	$("#email-form").show();
	        });

	        $(document).on('click', '#set-article-details', function(){
	        	$.ajax({
					url: "{% url 'set-article-details' %}",
					data: {
						"operation": "click",
					},
					dataType: "json",
					success: function(data) {
						if (data['Test'] == false) {
							$(".article-stats").hide();
	        				$("#article-detail-success").show();
	        				$("#article-detail-success").text("Successfully hiding article details");
	        				$("#article-detail-success").fadeOut(2000, function(){
	        					$(this).hide();
							});
						}
						if (data['Test'] == true) {
							$(".article-stats").show();
	        				$("#article-detail-success").show();
	        				$("#article-detail-success").text("Successfully showing article details");
	        				$("#article-detail-success").fadeOut(2000, function(){
	        					$(this).hide();
							});
						}
					}
				  });
			});

	        // TODO: Figure out an easy way to do this...
	        $(document).on('click', "#set-dark-mode", function(){
	        	$.ajax({
					url: "{% url 'dark-mode' %}",
					data: {
						"operation": "click",
					},
					dataType: "json",
					success: function(data) {
						if (data['Test'] == false) {
							$("#main-content").find("div").removeClass("bg-light").addClass("bg-dark");
						}
						if (data['Test'] == true) {
							console.log("True");
						}
					}
				  });
			});

	        $(document).on("click", "#editDescription", function(){
	        	var user_id = "{{user.id}}";
				var url = "{% url 'profile-update' 12345 %} #block-content".replace(/12345/, user_id.toString());
				$(".main-card").load(url);
			});
	    });
	</script>
{% endblock extra_js %}


{% block content %}
<br>
<div class="card ">
	<div class="card-header">
		 <ul class="nav nav-tabs card-header-tabs">
	      <li class="nav-item" id="account1">
	        <a class="nav-link active" id="account2" href="#">Account</a>
	      </li>
	      <li class="nav-item" id="profile1">
	        <a class="nav-link" id="profile2" href="#">Profile</a>
	      </li>
	      <li class="nav-item" id="settings1">
	        <a class="nav-link" id="settings2" href="#">Settings</a>
	      </li>
	  	</ul>
	</div>
	<div class="card-body main-card">
		<div class="alert alert-success " style="display: none"  role="alert" id="article-detail-success">
		</div>
		<div id="account">
			<div class="card">
				<div class="card-header">
					<h5>Email Address</h5>
				</div>
				<div class="card-body" id="email-card">

					<div id="email-show">
						<p>{{user.email}}</p>
						<button class="btn btn-primary" id="email-change">Change</button>
					</div>
					
					<div id="email-form">
							<form method="POST"  action="{% url 'account' user.id %}" >
								{% csrf_token %}
								{{form.email|as_crispy_field}}
								<button type="submit" class="btn btn-primary">Submit</button>
								<a class="btn btn-secondary" href="{% url 'account' user.id %}">Cancel</a>
							</form>
					</div>

				</div>
			</div>
			<br>
			<div class="card">
				<div class="card-header">
					<h5>Change Password</h5>
				</div>
				<div class="card-body">
					<p>Click below to reset your password</p>
					<a href="{% url 'password_reset' %}"><button class="btn btn-primary">Change</button></a>
				</div>
			</div>
			<br>
		</div>

		<div id="profile">
			<div class="card">
				<div class="card-body" id="profile-body">
					{% if request.user.profile.avatar %}
						<img src="{{request.user.profile.avatar.url}}" id="user-profile-pic">
					{% endif %}

					<hr>
					<h5>Description</h5>
					<p>{{user.profile.description}}</p>
					<button class="btn btn-primary" type="button" id="editDescription">Edit Profile</button>
				</div>
			</div>
		</div>

		<div id="settings">
			<div class="card">
				<div class="card-body">
					<h1>Settings</h1>
					<h5>General Settings</h5>
					<hr>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="set-dark-mode">
						<label class="custom-control-label" for="set-dark-mode">Dark Mode</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="set-article-details" checked="true">
					  	<label class="custom-control-label" for="set-article-details">Article Details</label>
					</div>

				</div>
			</div>
		</div>


	</div>
</div>
<br>

{% endblock  %}
