{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}
<style>
	img {
		width: 100%;
	}
</style>

{% block extra_js %}

<script>
{{block.super}}

  $(document).ready(function(){

	$(".reply").click(function(){
		var id = "#reply" + $(this).val();
		$(id).show();
	});

	$(".cancel-button").click(function(){
		var id = "#reply" + $(this).val();
		$(id).hide();
	});

	  var interactions = $("#article-interaction-container").clone();
	  $("#article-detail-header").html(interactions);
  });
</script>

{% endblock extra_js %}

{% block content %}

<div id="article-interaction-container">
    <span id="article-id" data-value="{{ article.link }}"></span>
	<a href="javascript:void(0);" id="article-analysis" data-value="{{article.id}}" data-toggle="popover" data-placement="bottom" data-content="Analysis"><button class="btn btn-white text-dark mb-1"><i class="fa fa-bar-chart" aria-hidden="true"></i></button></a>
	<button class="btn btn-white text-dark bookmark mb-1" value="{{article.id}}" data-toggle="popover" data-placement="bottom" data-content="Bookmark This Article"><i class="fa fa-bookmark" aria-hidden="true"></i></button>
	<button class="btn btn-light float-right" type="button" id="share-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fa fa-share" aria-hidden="true"></i></button>
	<div class="dropdown-menu" aria-labelledby="share-button" >
	  <a class="dropdown-item" href="#" id="emailFriend"><i class="fa fa-envelope-o mr-1" aria-hidden="true"></i>Send To Friend</a>
	</div>
	<button class="btn btn-light float-right like" value="{{article.id}}" data-toggle="popover" data-placement="bottom" data-content="Like"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
	<button class="btn btn-light float-right dislike" value="{{article.id}}" data-toggle="popover" data-placement="bottom" data-content="Dislike"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
	{% if request.user.profile.is_online %}
	<a href="{% url 'comment-add' article_id=article.id %}" id="comment"><button class="btn btn-light float-right" value="{{article.id}}" data-toggle="popover" data-placement="bottom" data-content="Comment"><i class="fa fa-comment" aria-hidden="true"></i></button></a>
	{% endif %}
</div>
<div class="container container-fluid" id="article-detail-content">
	<div class="jumbotron bg-white">
	  	<h1 class="display-4">{{article.title}}</h1>
		{% if article.author %}
		<p class="d-inline" id="article-author">by {{article.author}}</p>
		<p class="d-inline float-right">{{article.date}}</p>
		{% endif %}

		<a href="{{article.link}}">View Original Article</a>

	  	<hr class="my-4 bg-light">
	  	<p >{{article.content | safe}}</p>
		<hr>
		<h3>{{article.get_total_comments}} Comments:</h3>
		<br>
		{% for comment in article.get_comments %}
			<div class="comment">
				<p class="d-inline">{{comment.user}}</p>
				<p class="d-inline">{{comment.date}}</p>
				<p>{{comment.content}}</p>
<!--				<button class="btn btn-primary reply" value="{{comment.id}}">Reply</button>-->
				{% if comment.user == user %}
				<a href="{% url 'comment-delete' comment.id%}"><button class="btn btn-danger">Delete</button></a>
				{% endif %}
			</div>
			<br>
			<div class="card reply-form" id="reply{{comment.id}}" style="display:none">
				<div class="card-body">
					<form action="POST" action="{% url 'comment-add' article_id=article.id%}">
						{% csrf_token %}
						{{comment_form|crispy}}
						<input type="hidden" name="parent_id" value="{{comment.id}}">
						<button class="btn btn-primary">Submit Reply</button>
						<button type="button" class="btn btn-secondary cancel-button" value="{{comment.id}}">Cancel</button>
					</form>
				</div>
			</div>
			<br>
		{% endfor %}
	</div>
</div>

<br>
<br>

{% endblock  %}




