{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="modal fade" id="sentimentModal" tabindex="-1" role="dialog" aria-labelledby="sentimentModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sentimentModalTitle">Sentiment Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Understand the overall opinion, feeling, or attitude sentiment expressed in a block of text.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categoryModalTitle">Category Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        A category provides information regarding what topic(s) this article falls under.
		  Capable of classifying up to 700+ predefined categories.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="entityModal" tabindex="-1" role="dialog" aria-labelledby="entityModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="entityModalTitle">Entity Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Identify entities within documents — including receipts, invoices,
		  and contracts — and label them by types such as date, person, contact information,
		  organization, location, events, products, and media.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="container container-fluid">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<h2>{{article.title}}</h2>
				</div>
				<div class="card-body">
						<p>{{article.content|safe|slice:":255"}}...</p>
						<a href="{{article.link}}"><button class="btn btn-primary">Visit Website</button></a>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col">
			<div class="card-header">
				<h2>Author - {{article.author}}</h2>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col">
						<img src="{% static 'images/writer.png' %}" alt="">
					</div>
					<div class="col">
						<br>
						<h5>Other work</h5>
						<hr>
						<table id="table1"
						  data-toolbar="#toolbar"
						  data-search="true"
						  data-show-fullscreen="true"
						  data-show-columns="true"
						  data-show-columns-toggle-all="true"
						  data-click-to-select="true"
						  data-minimum-count-columns="2"
						  data-pagination="true"
						  data-id-field="id"
						  data-page-list="[5, 10, all]">
							  <thead>
								<tr>
								  <th scope="col">Article</th>
								  <th scope="col">Original Article</th>
								</tr>
							  </thead>
							  <tbody>
							  {% for article in author_article_list %}
								<tr>
								  <td>{{article.title}}</td>
								  <td><a href="{{article.link}}">Visit</a></td>
								</tr>
							  {%endfor%}
							  </tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		{% if article.score.score and article.score.magnitude %}

		<div class="col">
			<div class="card">
				<div class="card-header">
					<h1 class="d-inline">Sentiment Analysis</h1>
					<button class="btn btn-light float-right" data-toggle="modal" data-target="#sentimentModal"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></button>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col">
							<p id="scoreChart"></p>
						</div>
						<div class="col">
							<p id="magnitudeChart"></p>
						</div>
						<div class="col">
							<img src="" onload="loadImage()">
							<h1><i  class="fa fa-smile-o fa-2x" id="smile"></i></h1>
							<h1><i class="fa fa-meh-o fa-2x" id="meh"></i></h1>
							<h1><i class="fa fa-frown-o fa-2x" id="frown"></i></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>

	<br>

	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<h2 class="d-inline">Categories</h2>
					<button class="btn btn-light float-right" data-toggle="modal" data-target="#categoryModal"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></button>
				</div>
				<div class="card-body">
					<table class="table">
					  <thead class="thead-dark">
					    <tr>
					      <th scope="col">Name</th>
					      <th scope="col">Confidence</th>
					    </tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>{{category.name}}</td>
						  <td>{{category.confidence}}</td>
						</tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
<br>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<h2 class="d-inline">Entities</h2>
					<button class="btn btn-light float-right" data-toggle="modal" data-target="#entityModal"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></button>
				</div>
				<div class="card-body">
					<table id="table2"
						  data-toolbar="#toolbar"
						  data-search="true"
						  data-show-toggle="true"
						  data-show-fullscreen="true"
						  data-show-columns="true"
						  data-show-columns-toggle-all="true"
						  data-click-to-select="true"
						  data-minimum-count-columns="2"
						  data-pagination="true"
						  data-id-field="id"
						  data-page-list="[10, 25, 50, 100, all]"
					>
					  <thead class="thead-dark">
					    <tr>
					      <th scope="col">Name</th>
					      <th scope="col">Salience</th>
					      <th scope="col">Wiki</th>
						    </tr>
					  </thead>
					  <tbody>
				  		{% for entity in article.get_entities %}
							<tr>
						      <td>{{entity.name}}</td>
						      <td>{{entity.salience}}</td>
								{% if entity.metadata.key %}
						      		<td><a href="{{entity.metadata.key}}">{{entity.metadata.key}}</a></td>
								{% endif %}
								{% if not entity.metadata.key %}
									<td>No Wiki</td>
								{% endif %}

						    </tr>
						{% endfor %}
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<h5>Related Articles</h5>
			</div>
			<div class="card-body">
				<div class="card-deck">
					{% for article in article_list %}
							<div class="card">
								<img class="card-img-top" src="//logo.clearbit.com/{{article.rss_feed.link}}" alt="smoke">
								<div class="card-body">
									<h5>{{article.title}}</h5>
									<p>{{article.content|safe|slice:":255"}}...</p>
								</div>
								<div class="card-footer">
									<a href="{{article.link}}">Visit Site</a>
								</div>
							</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>

{% endblock  %}

{% block extra_js %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawScoreChart);
      google.charts.setOnLoadCallback(drawMagChart);

      function drawScoreChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Score', {{article.score.score}}],
        ]);

        var options = {
          width: 300, height: 240,
          max: 1,
          min: -1,
          majorTicks: ['-1', '-.75', '-.5', '-.25', '0', '.25', '.50', '.75', '1'],
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('scoreChart'));

        chart.draw(data, options);

      }

      function drawMagChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Mag', {{article.score.magnitude}}],
        ]);

        var options = {
          width: 300, height: 240,
          redFrom: 0, redTo: 3.33,
          yellowFrom:3.33, yellowTo: 6.66,
          greenFrom:6.66, greenTo:10,
          max: 10,
          majorTicks: ['0', '3', '5', '7', '10'],
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('magnitudeChart'));

        chart.draw(data, options);

        var score = {{article.score.score}};
        var magnitude = {{article.score.magnitude}};

        if (score >= 0.8 && magnitude >= 3.0) {
        	document.getElementById("smile").style = "color:green";
        }
        else if ((score > -0.6 && magnitude >= 0) || (score >= .1 && magnitude >= 0)) {
        	document.getElementById("meh").style = "color:orange";
        }
        else if (score <= -0.6 && magnitude >= 4) {
        	document.getElementById("frown").style = "color:red";
        }

      }
    </script>

{% endblock extra_js %}


