{% extends 'webapp/base.html' %}

{% block content %}
<br>
<div class="card ">
	<div class="card-header">
		<div class="row">
			<div class="col">
				<h1>Articles</h1>
			</div>
			<div class="col">
				<a href="{% url 'article-add' %}" class="btn btn-primary float-right">Add Article</a>
			</div>
		</div>
		
	</div>
	<div class="card-body">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Content</th>
					<th scope="col">Author</th>
					<th scope="col">Publisher</th>
				</tr>
			</thead>
			<tbody>
				{% for article in article_list %}
					<tr>
						<td><a href="{% url 'article-detail' article.id %}">{{article.title}}</a></td>
						<td>{{article.content}}</td>
						<td>{{article.author}}</a></td>
						<td>{{article.publisher}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock  %}