{% extends 'webapp/base.html' %}

{% block content %}
<br>
<div class="card ">
	<div class="card-header">
		<div class="row">
			<div class="col">
				<h1>Author Detail</h1>
			</div>
			<div class="col">
				<a href="{% url 'author-delete' author.id %}" class="btn btn-danger float-right">Delete Author</a>
			</div>
		</div>
	</div>
	<div class="card-body">
		<h1>{{author.name}}</h1>
		<a href=" {% url 'author-update' pk=author.pk %} " class="btn btn-primary">Edit</a>
		<a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary" class>Back</a>
	</div>
</div>

{% endblock  %}