{% extends 'webapp/base.html' %}
{% load tag_lib %}
{% load static %}

{% block extra_css %}
<style>
    a {
    color: #333333;
    text-decoration: none;
    }

    a:hover
    {
         color:#333333;
         text-decoration:none;
         cursor:pointer;
    }

    #bookmark-image {
        position: absolute;
        left: 20%;
        top: 20%;
    }

    #login {
        position: absolute;
        left: 5%;
        top: 35%;
        z-index: -1;
    }

    img {
        width: 100%;
        height: auto;
    }

    .fa-trash:hover {
        color: red;
    }

    .fa-trash {
        font-size: 14px;
    }

</style>
{% endblock extra_css %}

{% block content %}

<br>

<div class="row">
    {% if user.profile.is_online %}
        {% if not user.profile.get_bookmark_status %}
            <div class="container">
                <h2 class="text-center mb-3">You have no bookmarks</h2>
                <img id="bookmark-image" src="{% static "images/bookmark.png" %}" alt="">
            </div>
        {% endif %}
    {% endif %}
    {% if not user.profile.is_online %}
        <div class="container">
            <h2 class="text-center mb-3">You must sign in to use bookmarks</h2>
            <img id="login" src="{% static "images/login.png" %}" alt="">
        </div>
    {% endif %}

    {% for bookmark in user.profile.get_bookmarks %}
        {% if bookmark.get_is_bookmarked %}
            <div class="col-sm-3">
                <div class="card" id="{{bookmark.article.id}}">
                    <a href="{% url 'article-detail' bookmark.article.id %}">
                        <img class="card-img-top" src="{% static "images/articledefault1.png" %}" alt="Card image cap">
                        <div class="card-body">
                            <h5>{{bookmark.article.title|truncatechars:50}}</h5>
                        </div>
                    </a>
                    <div class="card-footer">
                        <small class="text-muted">{{bookmark.article.publisher}}</small>
                        <button class="btn btn-small btn-white remove-bookmark float-right" value="{{bookmark.article.id}}"><small class="text-muted float-right"><i class="fa fa-trash" aria-hidden="true"></i></small></button>
                    </div>
                </div>
                <br>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock  %}

