{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<h1>{{article.title}}</h1>
			</div>
			<div class="card-body">
				<p>{{article.content|safe|slice:":255"}}</p>
			</div>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col">
		<div class="card ">
			<div class="card-header">
				<h1>Leave your own comment</h1>
			</div>
			<div class="card-body">
				<form method="post">
					{% csrf_token %}
					{{form.content|as_crispy_field}}
					<button class="btn btn-primary">Add Comment</button>
					<a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary" class>Back</a>

				</form>
			</div>
		</div>
	</div>
</div>


<br>

{% endblock  %}
