{% extends 'webapp/base.html' %}

{% block content %}
<br>
<div class="card ">
	<div class="card-header">
		<div class="row">
			<div class="col">
				<h1>Publishers</h1>
			</div>
			<div class="col">
				<a href="{% url 'publisher-add' %}" class="btn btn-primary float-right">Add Publisher</a>
			</div>
		</div>
	</div>
	<div class="card-body">
		<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Name</th>
							<th scope="col">RSS Feed</th>
							<th scope="col">Picture</th>
							<th scope="col">Abbreviation</th>
							<th scope="col">Website</th>
						</tr>
					</thead>
					<tbody>
						{% for publisher in publisher_list %}
							<tr>
								<td><a href="{% url 'publisher-detail' publisher.id %}">{{publisher.name}}</a></td>
								<td>{{publisher.rss_feed}}</td>
								<td>{{publisher.picture}}</a></td>
								<td>{{publisher.abbreviation}}</td>
								<td>{{publisher.website}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary" class>Back</a>
			</div>
		</div>
		<br>
{% endblock  %}