{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
<style>
	.zoom {
	  transition: transform .2s;
	}
	.zoom:hover {
	  transform: scale(1.03);
	}

	.feed-avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
	}

	.hide-alert {
		display: none;
	}

</style>
{% endblock extra_css %}

{% block extra_js %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->

	<script type="text/javascript">
		$(document).ready(function(){

	        $(document).on('click', '.add-rss', function(){
				console.log("adding");
	        	var rss_id = $(this).val()
	        	$.ajax({
	        		url: "{% url 'add-rss' %}",
	        		data: {
	        			"rss-id": rss_id
	        		},
	        		dataType: "json",
	        		success: function(data) {
	        			if (data['Test'] == true){
	        				$("#add-alert").removeClass('hide-alert');
	        				$("#add-alert").show();
	        				$("#add-alert").fadeOut(2000, function(){
	        					$(this).hide();
							});

	        			}
	        			else {
	        				$("#danger-alert").removeClass('hide-alert');
	        				$("#danger-alert").show();
	        				$("#danger-alert").text("You are already following this feed.")
	        				$("#danger-alert").fadeOut(2000, function(){
	        					$(this).hide();
							});
						}
	        		}
	        	});
	        });

	        $(document).on('click', '.remove-rss', function(){
	        	var rss_id = $(this).val()
	        	console.log("removing");
	        	
	        	$.ajax({
	        		url: "{% url 'remove-rss' %}",
	        		data: {
	        			"rss-id": rss_id
	        		},
	        		dataType: "json",
	        		success: function(data) {
	        			if (data['Test'] == true){
	        				$("#remove-alert").removeClass('hide-alert');
	        				$("#remove-alert").show();
	        				$("#remove-alert").fadeOut(2000, function(){
	        					$(this).hide();
							});

	        			}
	        			else {
	        				$("#danger-alert").removeClass('hide-alert');
	        				$("#danger-alert").show();
	        				$("#danger-alert").text("You are not following this feed.")
	        				$("#danger-alert").fadeOut(2000, function(){
	        					$(this).hide();
							});
						}
	        		}
	        	});
	
	        });

	        $("#news").on("click", function(){
	        	$.ajax({
	        		url: "{% url 'news' %}",
	        		data: {
	        			"operation": "click"
	        		},
	        		dataType: "json",
	        		success: function(data) {
	        			if (data['Test'] == true){
	        				console.log(data);
							result_list = data['results'];
	        				$(".temp-card-container").empty();
	        				for (result in result_list) {
	        					var id = result_list[result]['id'];
	        					var name = result_list[result]['name'];
	        					var link = result_list[result]['link'];
	        					var description = result_list[result]['description'];
	        					$(".card-container").children().hide();
								$(".temp-card-container").append('<div class="col-sm-4">\n' +
										'\t\t<div class="card mb-2 zoom">\n' +
										'\t\t\t<div class="card-body">\n' +
										'\t\t\t\t<img class="card-img-top feed-avatar d-inline" src="//logo.clearbit.com/'+ link +'" alt="...">\n' +
										'\t\t\t  \t<h5 class="card-title d-inline">' + name + '</h5>\n' +
										'\t\t\t  \t<p class="card-text mt-2">' + description + '</p>\n' +
										'\t\t\t</div>\n' +
										'\t\t\t  <div class="card-footer">\n' +
										'\t\t\t\t  <a href="http://' + link +'"><small class="text-muted">Visit Site</small></a>\n' +
										'\t\t\t\t  <button class="btn btn-small btn-white float-right remove-rss" value="' + id + '"><small class="text-muted float-right"><i class="fa fa-trash" aria-hidden="true"></i></small></button>\n' +
										'\t\t\t\t  <button class="btn btn-small btn-white float-right add-rss" value="' + id + '"><small class="text-muted float-right"><i class="fa fa-plus" aria-hidden="true"></i></small></button>\n' +
										'\t\t\t  </div>\n' +
										'\t\t</div>\n' +
										'\t</div>'
								);
							}
	        			}
	        		}
	        	});
	        });

	        $("#sports").on("click", function(){
	        	$.ajax({
	        		url: "{% url 'sports' %}",
	        		data: {
	        			"operation": "click"
	        		},
	        		dataType: "json",
	        		success: function(data) {
	        			if (data['Test'] == true){
	        				console.log(data);
							result_list = data['results'];
	        				$(".temp-card-container").empty();
	        				for (result in result_list) {
	        					var id = result_list[result]['id'];
	        					var name = result_list[result]['name'];
	        					var link = result_list[result]['link'];
	        					var description = result_list[result]['description'];
	        					$(".card-container").children().hide();
								$(".temp-card-container").append('<div class="col-sm-4">\n' +
										'\t\t<div class="card mb-2 zoom">\n' +
										'\t\t\t<div class="card-body">\n' +
										'\t\t\t\t<img class="card-img-top feed-avatar d-inline" src="//logo.clearbit.com/'+ link +'" alt="...">\n' +
										'\t\t\t  \t<h5 class="card-title d-inline">' + name + '</h5>\n' +
										'\t\t\t  \t<p class="card-text mt-2">' + description + '</p>\n' +
										'\t\t\t</div>\n' +
										'\t\t\t  <div class="card-footer">\n' +
										'\t\t\t\t  <a href="http://' + link +'"><small class="text-muted">Visit Site</small></a>\n' +
										'\t\t\t\t  <button class="btn btn-small btn-white  float-right remove-rss" value="' + id + '"><small class="text-muted float-right"><i class="fa fa-trash" aria-hidden="true"></i></small></button>\n' +
										'\t\t\t\t  <button class="btn btn-small btn-white  float-right add-rss" value="' + id + '"><small class="text-muted float-right"><i class="fa fa-plus" aria-hidden="true"></i></small></button>\n' +
										'\t\t\t  </div>\n' +
										'\t\t</div>\n' +
										'\t</div>'
								);
							}
	        			}
	        		}
	        	});
	        });

			$("#technology").on("click", function(){
	        	$.ajax({
	        		url: "{% url 'tech' %}",
	        		data: {
	        			"operation": "click"
	        		},
	        		dataType: "json",
	        		success: function(data) {
	        			if (data['Test'] == true){
	        				console.log(data);
							result_list = data['results'];
	        				$(".temp-card-container").empty();
	        				for (result in result_list) {
	        					var id = result_list[result]['id'];
	        					var name = result_list[result]['name'];
	        					var link = result_list[result]['link'];
	        					var description = result_list[result]['description'];
	        					$(".card-container").children().hide();
								$(".temp-card-container").append('<div class="col-sm-4">\n' +
										'\t\t<div class="card mb-2 zoom">\n' +
										'\t\t\t<div class="card-body">\n' +
										'\t\t\t\t<img class="card-img-top feed-avatar d-inline" src="//logo.clearbit.com/'+ link +'" alt="...">\n' +
										'\t\t\t  \t<h5 class="card-title d-inline">' + name + '</h5>\n' +
										'\t\t\t  \t<p class="card-text mt-2">' + description + '</p>\n' +
										'\t\t\t</div>\n' +
										'\t\t\t  <div class="card-footer">\n' +
										'\t\t\t\t  <a href="http://' + link +'"><small class="text-muted">Visit Site</small></a>\n' +
										'\t\t\t\t  <button class="btn btn-small btn-white  float-right remove-rss" value="' + id + '"><small class="text-muted float-right"><i class="fa fa-trash" aria-hidden="true"></i></small></button>\n' +
										'\t\t\t\t  <button class="btn btn-small btn-white  float-right add-rss" value="' + id + '"><small class="text-muted float-right"><i class="fa fa-plus" aria-hidden="true"></i></small></button>\n' +
										'\t\t\t  </div>\n' +
										'\t\t</div>\n' +
										'\t</div>'
								);
							}
	        			}
	        		}
	        	});
	        });

			$("#business").on("click", function(){
	        	$.ajax({
	        		url: "{% url 'business' %}",
	        		data: {
	        			"operation": "click"
	        		},
	        		dataType: "json",
	        		success: function(data) {
	        			if (data['Test'] == true){
	        				console.log(data);
							result_list = data['results'];
	        				$(".temp-card-container").empty();
	        				for (result in result_list) {
	        					var id = result_list[result]['id'];
	        					var name = result_list[result]['name'];
	        					var link = result_list[result]['link'];
	        					var description = result_list[result]['description'];
	        					$(".card-container").children().hide();
								$(".temp-card-container").append('<div class="col-sm-4">\n' +
										'\t\t<div class="card mb-2 zoom">\n' +
										'\t\t\t<div class="card-body">\n' +
										'\t\t\t\t<img class="card-img-top feed-avatar d-inline" src="//logo.clearbit.com/'+ link +'" alt="...">\n' +
										'\t\t\t  \t<h5 class="card-title d-inline">' + name + '</h5>\n' +
										'\t\t\t  \t<p class="card-text mt-2">' + description + '</p>\n' +
										'\t\t\t</div>\n' +
										'\t\t\t  <div class="card-footer">\n' +
										'\t\t\t\t  <a href="http://' + link +'"><small class="text-muted">Visit Site</small></a>\n' +
										'\t\t\t\t  <button class="btn btn-small btn-white  float-right remove-rss" value="' + id + '"><small class="text-muted float-right"><i class="fa fa-trash" aria-hidden="true"></i></small></button>\n' +
										'\t\t\t\t  <button class="btn btn-small btn-white  float-right add-rss" value="' + id + '"><small class="text-muted float-right"><i class="fa fa-plus" aria-hidden="true"></i></small></button>\n' +
										'\t\t\t  </div>\n' +
										'\t\t</div>\n' +
										'\t</div>'
								);
							}
	        			}
	        		}
	        	});
	        });

			$("#politics").on("click", function(){
	        	$.ajax({
	        		url: "{% url 'politics' %}",
	        		data: {
	        			"operation": "click"
	        		},
	        		dataType: "json",
	        		success: function(data) {
	        			if (data['Test'] == true){
	        				console.log(data);
							result_list = data['results'];
	        				$(".temp-card-container").empty();
	        				for (result in result_list) {
	        					var id = result_list[result]['id'];
	        					var name = result_list[result]['name'];
	        					var link = result_list[result]['link'];
	        					var description = result_list[result]['description'];
	        					$(".card-container").children().hide();
								$(".temp-card-container").append('<div class="col-sm-4">\n' +
										'\t\t<div class="card mb-2 zoom">\n' +
										'\t\t\t<div class="card-body">\n' +
										'\t\t\t\t<img class="card-img-top feed-avatar d-inline" src="//logo.clearbit.com/'+ link +'" alt="...">\n' +
										'\t\t\t  \t<h5 class="card-title d-inline">' + name + '</h5>\n' +
										'\t\t\t  \t<p class="card-text mt-2">' + description + '</p>\n' +
										'\t\t\t</div>\n' +
										'\t\t\t  <div class="card-footer">\n' +
										'\t\t\t\t  <a href="http://' + link +'"><small class="text-muted">Visit Site</small></a>\n' +
										'\t\t\t\t  <button class="btn btn-small btn-white  float-right remove-rss" value="' + id + '"><small class="text-muted float-right"><i class="fa fa-trash" aria-hidden="true"></i></small></button>\n' +
										'\t\t\t\t  <button class="btn btn-small btn-white  float-right add-rss" value="' + id + '"><small class="text-muted float-right"><i class="fa fa-plus" aria-hidden="true"></i></small></button>\n' +
										'\t\t\t  </div>\n' +
										'\t\t</div>\n' +
										'\t</div>'
								);
							}
	        			}
	        		}
	        	});
	        });

			$("#gaming").on("click", function(){
	        	$.ajax({
	        		url: "{% url 'gaming' %}",
	        		data: {
	        			"operation": "click"
	        		},
	        		dataType: "json",
	        		success: function(data) {
	        			if (data['Test'] == true){
	        				console.log(data);
							result_list = data['results'];
	        				$(".temp-card-container").empty();
	        				for (result in result_list) {
	        					var id = result_list[result]['id'];
	        					var name = result_list[result]['name'];
	        					var link = result_list[result]['link'];
	        					var description = result_list[result]['description'];
	        					$(".card-container").children().empty();
								$(".temp-card-container").append('<div class="col-sm-4">\n' +
										'\t\t<div class="card mb-2 zoom">\n' +
										'\t\t\t<div class="card-body">\n' +
										'\t\t\t\t<img class="card-img-top feed-avatar d-inline" src="//logo.clearbit.com/'+ link +'" alt="...">\n' +
										'\t\t\t  \t<h5 class="card-title d-inline">' + name + '</h5>\n' +
										'\t\t\t  \t<p class="card-text mt-2">' + description + '</p>\n' +
										'\t\t\t</div>\n' +
										'\t\t\t  <div class="card-footer">\n' +
										'\t\t\t\t  <a href="http://' + link +'"><small class="text-muted">Visit Site</small></a>\n' +
										'\t\t\t\t  <button class="btn btn-small btn-white  float-right remove-rss" value="' + id + '"><small class="text-muted float-right"><i class="fa fa-trash" aria-hidden="true"></i></small></button>\n' +
										'\t\t\t\t  <button class="btn btn-small btn-white  float-right add-rss" value="' + id + '"><small class="text-muted float-right"><i class="fa fa-plus" aria-hidden="true"></i></small></button>\n' +
										'\t\t\t  </div>\n' +
										'\t\t</div>\n' +
										'\t</div>'
								);
							}
	        			}
	        		}
	        	});
	        });

	        $(".search-rss").on("keyup", function(){
	        	var search = $(this).val()
	        	if (search.length == 0) {
	        		$(".card-container").children().show();
	        		$(".temp-card-container").empty();
				}
				if (search.length > 0) {
					$.ajax({
						url: "{% url 'search-rss' %}",
						data: {
							"search": search
						},
						dataType: "json",
						success: function(data) {
							if (data['Test'] == true){
								result_list = data['results'];
								$(".temp-card-container").empty();
								for (result in result_list) {
									var id = result_list[result]['id'];
									var name = result_list[result]['name'];
									var link = result_list[result]['link'];
									var description = result_list[result]['description'];
									$(".card-container").children().hide();
									$(".temp-card-container").append('<div class="col-sm-4">\n' +
											'\t\t<div class="card mb-2 zoom">\n' +
											'\t\t\t<div class="card-body">\n' +
											'\t\t\t\t<img class="card-img-top feed-avatar d-inline" src="//logo.clearbit.com/'+ link +'" alt="...">\n' +
											'\t\t\t  \t<h5 class="card-title d-inline">' + name + '</h5>\n' +
											'\t\t\t  \t<p class="card-text">' + description + '</p>\n' +
											'\t\t\t</div>\n' +
											'\t\t\t  <div class="card-footer">\n' +
											'\t\t\t\t  <a href="http://' + link +'"><small class="text-muted">Visit Site</small></a>\n' +
											'\t\t\t\t  <button class="btn btn-small btn-white  float-right remove-rss" value="' + id + '"><small class="text-muted float-right"><i class="fa fa-trash" aria-hidden="true"></i></small></button>\n' +
											'\t\t\t\t  <button class="btn btn-small btn-white  float-right add-rss" value="' + id + '"><small class="text-muted float-right"><i class="fa fa-plus" aria-hidden="true"></i></small></button>\n' +
											'\t\t\t  </div>\n' +
											'\t\t</div>\n' +
											'\t</div>'
									);
								}
							}
						}
					});
				}
	        });
	     });
	</script>
		
{% endblock extra_js %}
{% block content %}
<br>

<div class="alert alert-success" id="add-alert" role="alert" style="display: none;">
  Success! Added RSS Feed.
</div>
<div class="alert alert-success" id="remove-alert" role="alert" style="display: none;">
  Success! Removed RSS Feed.
</div>
<div class="alert alert-danger" id="danger-alert" role="alert" style="display: none;">
</div>

{% if not user.profile.is_online %}
	<h2 class="text-center mb-3">You must sign in to customize feed</h2>
	<img id="login" src="{% static "images/login.png" %}" alt="">
{% endif %}

{% if user.profile.is_online %}
<div class="form-row mt-2 justify-content-center">
	<div class="form-group col-xs-3">
		<input class="form-control search-rss" type="text" placeholder="Type website name, topic, URL">
		<div class="btn-toolbar mt-3 ">
			<div class="btn-group mr-2">

				<button class="btn btn-secondary" id="news">News</button>
			</div>
			<div class="btn-group mr-2">
				<button class="btn btn-secondary" id="sports">Sport</button>
			</div>
			<div class="btn-group mr-2">
				<button class="btn btn-secondary" id="technology">Technology</button>
			</div>
			<div class="btn-group mr-2">
				<button class="btn btn-secondary" id="business">Business</button>
			</div>
			<div class="btn-group mr-2">
				<button class="btn btn-secondary" id="politics">Politics</button>
			</div>
			<div class="btn-group mr-2">
				<button class="btn btn-secondary" id="gaming">Gaming</button>
			</div>
		</div>
	</div>
</div>

<br>
<div class="row card-container">
{% for feed in rssfeed_list %}
	<div class="col-sm-4">
		<div class="card mb-2 zoom">
			<div class="card-body">
				<img class="card-img-top feed-avatar d-inline" src="//logo.clearbit.com/{{feed.link}}"  alt="...">
			  	<h5 class="card-title d-inline">{{feed.name}}</h5>
			  	<p class="card-text mt-2">{{feed.description}}</p>
			</div>
			  <div class="card-footer">
				  <a href="http://{{feed.link}}"><small class="text-muted">Visit Site</small></a>
				  <button class="btn btn-small btn-white  float-right remove-rss" value="{{feed.id}}"><small class="text-muted float-right"><i class="fa fa-trash" aria-hidden="true"></i></small></button>
				  <button class="btn btn-small btn-white  float-right add-rss" value="{{feed.id}}"><small class="text-muted float-right"><i class="fa fa-plus" aria-hidden="true"></i></small></button>
			  </div>
		</div>
	</div>
{% endfor %}
</div>
<div class="row temp-card-container">

</div>
<br>
{% endif %}
{% endblock  %}